{% extends 'imscam/help_template.html' %}
{% load staticfiles %}

{% block content %}
    <div class="help-item">
	    <img class="img-responsive thumbnail" src='/static/img/help/home.png'>
	    <p>
	        <strong>(1) group list:</strong>
	        A group can contain multiple locations. 
	        Group settings are used as default settings for new locations.
	    </p>
	    <p>
	        <strong>(2) location list:</strong>
	        A location inside a group represents the location of the pan tilt head. 
	    </p>
	    <p>
	        <strong>(3) remote control:</strong>
	        With the remote control it is possible to start and stop the live preview, pan / tilt the camera, create a new location from currently seeing live preview
	    </p>
	    <p>
	        <strong>(4) live preview:</strong>
	        If the live preview is started this image will be updated according to the interval defined in the remote control. If supported editable cam settings for live preview are displayed
	    </p>
	    <p>
	        <strong>(5) group / location settings:</strong>
	        If a group or a location has been selected the settings are displayed in this form 
	    </p>
    </div>
        
    <div class="help-item">
        <img class="img-responsive thumbnail" src='/static/img/help/browse.png'>
        <p>
            <strong>(1)</strong>
            all saved groups with the locations are listed
        </p>
        <p>
            <strong>(2)</strong>
            if the scheduler has taken more than 9 images not all images are displayed at the same time.
        </p>
    </div>
    
    <div class="help-item">
        <img class="img-responsive thumbnail" src='/static/img/help/global_settings.png'>
        <p>
            the scheduler settings are used as default settings for new groups. It is possible to overwrite scheduler settings from existing groups by checking the depending checkbox
        </p>
    </div>
{% endblock %}
