{% extends 'imscam/help_template.html' %}

{% block content %}
    <h4>Create a group</h4>
    
    <img class="img-responsive thumbnail" src='/static/img/help/new_group.png'>
    
    <p>To create a group, do the following:</p>
    <ol>
        <li>Click the "+" button for a new group</li>
        <li>Edit settings</li>
        <li>click the create button</li>
    </ol> 
    
    <div class="message info">
        <span class="icon glyphicon glyphicon-info-sign"></span>
        <div class="body">
            The scheduler settings of a group will be used as presetting for new locations
        </div>
    </div>
{% endblock %}
