{% extends 'imscam/help_template.html' %}

{% block content %}
    <h4>Edit a location</h4> 
    
    <img class="img-responsive thumbnail" src='/static/img/help/edit_loc.png'>
    
    <p>To edit a location, do the following:</p>
    <ol>
        <li>Click on a group containing the location you want to edit</li>
        <li>Click on the location you want to edit</li>
        <li>Edit settings</li>
        <li>Click the save button</li>
    </ol>
    
{% endblock %}
