{% extends 'imscam/help_template.html' %}

{% block content %}
    <h4>Move pan tilt head</h4> 
    
    <div class="message info">
        <span class="icon glyphicon glyphicon-info-sign"></span>
        <div class="body">
            Live prview can only be started if the user is logged in and has needed permission.
        </div>
    </div>
    
    <p>To move the pan tilt head during live preview, it is possible to click a button for a direction or to move to specific location with the fields and the move button</p>
{% endblock %}
