{% extends 'imscam/help_template.html' %}

{% block content %}
    <h4>Schedule locations</h4> 
    
    <img class="img-responsive thumbnail" src='/static/img/help/schedule.png'>
    
    <p>To schedule a location to automatically take images, do the following:</p>
    <ol>
        <li>Check "global" schedule state</li>
        <li>Check the schedule state of the group containing the location</li>
        <li>Check the schedule state of the location</li>
    </ol>
    
    <div class="message danger">
        <span class="icon glyphicon glyphicon-info-sign"></span>
        <div class="body">
            The scheduler won't automatically take images unless all three scheduler buttons from 2-4 are clicked.
        </div>
    </div>
    
{% endblock %}
