{% extends 'imscam/help_template.html' %}

{% block content %}
    <h4>Update saved pan tilt values</h4> 
    
    <img class="img-responsive thumbnail" src='/static/img/help/preview_location_running.png'>
    
    <p>To update the pan tilt values of a location, do the following:</p>
    <ol>
        <li>Click on a group containing the location you want to update</li>
        <li>Click the play button of the location you want to update</li>
        <li>Move the pan tilt head</li>
        <li>Click the "upadte pan-tilt values" button</li>
    </ol>
    
{% endblock %}
