<form id="login-form" class="navbar-right" action="{% url 'imscam:login' %}" method="post" accept-charset="UTF-8" role="form">
{% csrf_token %}
    <div class="input-group input-group-sm">
	    <input type="text" class="form-control" name="username" placeholder="Username" />
	    <input type="password" class="form-control" name="password" placeholder="Password" />
	    {% if request.GET.next %} 
	        <input type="hidden" name="next" value="{{ request.GET.next }}" />
	    {% endif %}
        <input type="submit" value="Login" class="btn btn-primary btn-sm" />
    </div>
</form>
