
h4 {
	font-size: 16px;
}
/*input.myform-control {
	background-color: #FFFFFF;
	border: 1px solid #CCCCCC;
	border-radius: 4px;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
	color: #555555;
	display: inline-block;
	font-size: 14px;
	height: 28px;
	line-height: 1.42857;
	padding: 6px 12px;
	transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
	vertical-align: middle;
}*/

.main-alert {
	top: 5%;
    font-size: 1.2em;
    margin-bottom: 0;
    padding: 1em 1.3em;
    position: fixed;
    right: 0;
    z-index: 2000;
    zoom: 1;
    filter: alpha(opacity=80);
    opacity: 0.8;
}

.spinner {
    position: fixed;
    top: 50%;
    left: 50%;
    margin-left: -50px; /* half width of the spinner gif */
    margin-top: -50px; /* half height of the spinner gif */
    text-align:center;
    z-index:1234;
    overflow: auto;
    width: 100px; /* width of the spinner gif */
    height: 102px; /*hight of the spinner gif +2px to fix IE8 issue */
}

.container-fluid {
  margin-right: auto;
  margin-left: auto;
  max-width: 1600px;
}


#pt-goto-wrapper .form-control {
    border-right-width: 0px;
}
#pt-goto-wrapper .form-control:focus {
    border-right-width: 1px;
}
#pt-goto-wrapper .input-group-btn:last-child>.btn, #pt-goto-wrapper .input-group-btn:last-child>.btn-group {
	margin-left:0;
}

.form-control {
  
}


.tab-content .form-group:last-child {
	margin-bottom: 0;
}


.nav > li > a {
	padding: 5px 10px;
}

.scheduler-enabler.active {
	background-color: #ACF078;
}

.scheduler-enabler.active[disabled] {
    background-color: #ACF078;
}

#from-to-days {
	margin-left: 0;
	margin-right: 0;
}

#scheduler-settings .btn {
	padding: 3px 6px;
}

#scheduler-settings > input {
	display: inline-block;
}

input[disabled] {
	cursor: default !important;
}

.onoffswitch {
    position: relative; width: 83px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-label {
	margin-bottom: 0;
    display: block; overflow: hidden; cursor: pointer;
    border: 2px solid #999999; border-radius: 20px;
}
.onoffswitch-inner {
    width: 200%; margin-left: -100%;
    -moz-transition: margin 0.3s ease-in 0s; -webkit-transition: margin 0.3s ease-in 0s;
    -o-transition: margin 0.3s ease-in 0s; transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
    float: left; width: 50%; height: 16px; padding: 0; line-height: 16px;
    font-size: 14px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}
.onoffswitch-inner:before {
    content: "";
    padding-left: 10px;
    background-color: #0BBF11; color: #FFFFFF;
}
.onoffswitch-inner:after {
    content: "";
    padding-right: 10px;
    background-color: #EEEEEE; color: #999999;
    text-align: right;
}
.onoffswitch-switch {
    width: 26px; margin: -5px;
    background: #FFFFFF;
    border: 2px solid #999999; border-radius: 20px;
    position: absolute; top: 0; bottom: 0; right: 63px;
    -moz-transition: all 0.3s ease-in 0s; -webkit-transition: all 0.3s ease-in 0s;
    -o-transition: all 0.3s ease-in 0s; transition: all 0.3s ease-in 0s; 
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px; 
}





.onoffswitch2 {
	display: inline-block;
    position: relative; 
    width: 49px;
    -webkit-user-select:none; 
    -moz-user-select:none; 
    -ms-user-select: none;
}
.onoffswitch2 .onoffswitch-switch {
    width: 19px; 
    margin: -4.5px;
    background: #FFFFFF;
    border: 2px solid #999999; 
    border-radius: 25px;
    position: absolute; 
    top: 0; 
    bottom: 0; 
    right: 35px;
    -moz-transition: all 0.3s ease-in 0s; 
    -webkit-transition: all 0.3s ease-in 0s;
    -o-transition: all 0.3s ease-in 0s; 
    transition: all 0.3s ease-in 0s; 
}
.onoffswitch2 .onoffswitch-inner:before, .onoffswitch-inner:after {
    height: 6px; 
    line-height: 12px;
    font-size: 14px;
}













body {
    background-color: #F8F8F8;	
}

.clear {
    clear: both;
}

.flash { 
    background: #cee5F5; 
    padding: 0.5em;
    border: 1px solid #aacbe2; 
}

div.row {
	/*margin-bottom: 20px;*/
	
}

/*#groups-row {
	margin-bottom: 40px;
}*/

#location-section #active-group {
	margin-left: 15px;
}

#viewing-location {
	margin-left: 15px;
}

div#group-locations-container {
	overflow-x: scroll;
        /*overflow-y: hidden;
        white-space: nowrap;*/
        /*float: left;*/
        /*width:650px;*/
        white-space: nowrap !important;

}

div#location-container div.panel-body {
	padding-top: 10px;
	padding-bottom: 0;
}

div#group-locations-inner {
/*	width: 10000px;*/
}

ul#group-locations {
}

ul.reset {
	margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    /*line-height: 1.3;*/
    text-decoration: none;
    font-size: 100%;
    list-style: none;
    display: block;
}

.group-location-new {
	padding: 5px;
	word-wrap: break-word;
	max-width: 130px;
	height: 100%;
}

li.group-location {
	float: left;
	border: 1px solid #CCCCCC;
	border-radius: 6px 6px 0 0;
	/*display: inline-block !important;*/
	margin-right: 10px;
	margin-bottom: 10px;
	background-color: white;
	cursor: pointer;
}

.group-location .close-wrapper {
	position: relative;
}
.group-location .close {
	position: absolute;
	top: -24px;
	right: -7px;
}

li.group-location div.location-heading {
	background-color: #F8F8F8;
	color: #555555;
	text-align: center;
	border-bottom: 1px solid #CCCCCC;
	-webkit-border-top-left-radius: 6px;
    -webkit-border-top-right-radius: 6px;
    -moz-border-radius-topleft: 6px;
    -moz-border-radius-topright: 6px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
	
	padding: 1px 10px;
}

.group-location-new .close-div {
	position:relative;
}
.group-location-new .close {
	position: absolute; 
	right: -5px; 
	top: -10px;
}

.location-name {
	font-weight: bold;
}


li.group-location div.location-body {
    padding: 8px 10px 10px 10px;
    text-align: center;
}
li.group-location div.location-footer {
    padding: 0px 10px 5px 10px;
    font-size: 0.8em;
    color: #777;
}

li.group-location:hover div.location-heading, 
li.group-location.active div.location-heading {
	background-color: #E7E7E7;
    color: #333;
}



/** {
	-webkit-box-sizing: inherit;
       -moz-box-sizing: inherit;
            box-sizing: inherit; 
}*/

ul#group-locations li:last-child {
	margin-right: 0;
}

ul#group-locations .img-container img {
	display: block;
	margin-left:auto ;
    margin-right:auto ;
}

ul#group-locations li img {
    border: 1px solid #aaa;
    /*width: 96px;
    height: 72px;*/
}



div.thumbnail-location {
	padding: 2px;
	float: left;
	margin-right: 10px;	
	border: 1px solid black;
	width: 100px;
	display: inline-block !important;
	width: 100px;
	height: 140px;
}


.thumbnail-location p {
	margin: 0;
}

div#location-details {
	margin-left: 20px;
	float: left;
}


div#groups-control {
	float:left; 
	max-width:300px;
	margin-right: 35px;
}


/*#remote-control {
	min-width: 170px;
	background-color: #efefef;
	padding: 10px;
}


#remote-control .slider {
	float: left;
	width: 100px;
}

#remote-control input {
	border: none !important;
	width: 25px;
	height: 13px;
	padding: 0px;
	margin-left: 10px;
	font-size: 12px;
}*/

.remote-control-elem-wrapper {
	/*border-bottom: 1px solid #e2e2e2;*/
	margin-bottom: 15px;
}

.remote-control-elem {
	display: table; 
	width: 100%;
}
.remote-control-elem > span {
    vertical-align: middle; 
    display: table-cell;
}

#pan-tilt-refresh-wrapper {
	display: inline-block;
}

.preview-settings {
    padding: 0;
}

.preview-setting {
	margin-right: 10px;
}
.preview-setting:last-child {
    margin-right: 0;
}

#preview {
	/*margin-right: 10px;*/
	/*box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);*/
}


#preview .panel {
	margin: 0;
}

#preview .panel-body {
	padding: 3px;
}

#settings {
	max-width: 570px;	
}


#preview-img {
  /*display: inline;*/
   /*float: right;*/
  margin: 0 auto;
  /*display: block;*/
  /*height: 480px;*/
  /*width: 640px;*/
  width: 100%;
  /*background-color: black;*/
  /*border: 2px solid black;*/
  
}

div.panel-control {
	float:right;
}

#preview-control {
	margin-bottom: 25px;
}

#preview-control-left {
    /*float: left;*/
    /*display: inline;*/
    /*margin-right: 10px;
    height: 600px;
    width: 150px;*/
    background-color: #eee;
    padding-top: 10px;
}

.navbar-inner {
	padding-left: 50px;
}

#navbar-center {
	float: left;
}
/*#navbar-center:after {
	clear: both;
}*/



#pan-tilt-control .row {
	margin-bottom: 10px;
}

#pt-goto-wrapper {
	margin-top: 5px;
	margin-bottom: 25px;
}
#pt-goto-wrapper div {
	padding: 0;
}

/*button.btn-default {
	background-color: #DDD;
	color: #333;
}

button.btn-default:hover,
button.btn-default:focus,
button.btn-default:active {
	background-color: #EEE;
	color: #333;
}*/

.list-group {
	margin-bottom: 0;
}

.list-group-item.active, 
.list-group-item.active:focus,
.list-group-item.active:hover {
	background-color: #E7E7E7 !important;
	border-color: #555555 !important;
	color: #555555 !important;
	z-index: 2;
}

.list-group-item {
	padding: 5px 10px;
}
.list-group-item img {
	min-width: 80px;
    max-width: 120px;
    min-height: 60px;
    max-height: 100px;
}

#group-location-form-panel .panel-body {
	/*background-color: #DDDDDD;*/
	padding-bottom: 5px;
}

#group-location-settings .panel {
    margin-bottom: 5px;
}
 

.panel-default > .panel-heading {
	padding: 5px 10px;
	background-color: #E8E8E8;
}
.panel-footer {
	/*background-color: #F8F8F8;*/
}

.settings-panel .panel-heading {
    padding: 0;
}

.settings-panel .nav-tabs {
    border: none;
}

.modal-header {
	background-color: #F5F5F5;
}
.modal-body {
    /*background-color: #DDDDDD;*/
}
.modal-footer {
    background-color: #F5F5F5;
    margin-top: 0;
}

.btn-primary {
	background-color: #E7E7E7;
    color: #555555;
	border-color: #333333;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active {
    background-color: #EEE;
    border-color: #333333;
    color: #333;
}

.btn-primary.disabled,
.btn-primary[disabled] {	
    background-color: #E7E7E7;
    border-color: #333333;
}

.form-control:focus {
	border-color: #EEEEEE;
	-webkit-box-shadow: 0 0 4px 2px rgba(137,137,137,0.7);
    -moz-box-shadow: 0 0 4px 2px rgba(137,137,137,0.7);
    box-shadow: 0 0 4px 2px rgba(137,137,137,0.7);
}	
	
.ui-state-disabled, 
.ui-widget-content .ui-state-disabled, 
.ui-widget-header .ui-state-disabled {
    background-image: none;
    opacity: 1;
}

.ui-state-highlight > div {
    background-color: #ffefa1;
}


#login-form input {
	display: inline;
	max-width: 40%;
}


#groups-section .panel-body {
	padding: 10px;
	/*overflow: visible;*/
}

#groups-section div.panel-heading {
	/*padding-bottom: 0px;*/
}

#groups-section ul.nav-tabs {
	margin-bottom: -1px;
}

#groups-section ul.nav-tabs a {
    padding: 5px 10px;
}

/*a.group-link.active {
	text-decoration: underline;
}*/

#group-new {
	margin-left: 5px;
}


nav ul li:hover {
    background-color: #EEEEEE;
}


a, a:focus, a:hover {
	color: #333333;
	text-decoration: none;
	outline: none;
}
a:hover {
	text-decoration: underline;
}



.navbar, .navbar .container {
	min-height: 25px;
}
.navbar li a, .navbar-brand {
	padding: 8px 10px;
	height: 35px;
	
}

nav.navbar {
	border-bottom: 1px solid #CCCCCC;
	outline: 1px solid #EEEEEE;
}





/*.location-container {
	position: relative;
	margin: 5px 10px;
}*/

.location-viewport {
    margin: 0 auto;
    /*overflow: hidden;*/
}

.location-wrapper {
	margin: 0;
	padding: 0;
}


.location-next, .location-prev {
	position: absolute;
	top: 50%;
}

.location-next {
    left: -20px;
}

.location-prev {
    right: -20px;
}


/*#groups-section .panel-body {
	overflow-x: hidden;
	overflow-y: auto;
}*/

#group-heading {
	display: inline-block;
}

#groups li {
	padding-bottom: 4px;
	margin-bottom: 10px;
	border-bottom: 1px solid #EEEEEE; 
}
#groups li:last-child {
    border-bottom: none; 
}
#groups button#group-edit {
    margin-right: 5px;
}


#global_start_end_date input,
#global_start_end_time input {
	display: inline-block;
}

#global_start_end_time input {
	max-width: 80px;
}
input.date {
    max-width: 100px;
}
.cron-day > div {
	margin-top: 5px;
	margin-left: 20px;
}

#cron-days {
	width: 100%;
}
#cron-days > div {
	float: left;
	width: 14.28%;
	min-width: 120px;
}
#cron-days > div:last-child:after {
    clear: both;
}

.capture-day .interval {
    /*float: left;*/
}

/*.capture-day div:last-child {
    clear: both;
}*/
.capture-day .interval input {
	display: inline-block;
	max-width: 70px;
}

.capture-day table {
	/*margin-left: 50px;*/
}

.browse-group-list {
	list-style: none;
}

.browse-group-list li ul li:HOVER:not(.active) {
    background-color: #EEEEEE;
}

.browse-group-list li ul li span {
    font-weight: bold;
}

.browse-group-list li.active {
	background-color: #D7D7D7;
}

.gallery-panel img.thumbnail {
	display: inline-block;
}

/*#gallery_location_list img {
	margin-right: 10px;
}*/

#gallery_location_list .info {
	font-size: x-small;
} 

#gallery_location_list .media-heading {
	word-wrap: break-word;
	margin-bottom: 10px;
	font-weight: bold;
}

#gallery_location_list ul {
	padding: 0;
}

.images div.thumbnail {
	/*display: inline-block;*/
}

body {
    -webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	user-select: none;
}
}
