/* make sidebar nav vertical */ 
@media (min-width: 768px) {
  .sidebar-nav .navbar .navbar-collapse {
    padding: 0;
    max-height: none;
  }
  .sidebar-nav .navbar ul {
    float: none;
    display: block;
  }
  .sidebar-nav .navbar li {
    float: none;
    display: block;
  }
  /*.sidebar-nav .navbar li a {
    padding-top: 12px;
    padding-bottom: 12px;
  }*/
}

.message {
	border: 1px solid;
	-webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
	margin: 10px 0 20px;
	padding: 10px 10px 10px 35px;
	position: relative;
}
.message.info {
    border-color: #AAB8C6; 
}

.message.danger {
    border-color: #A92412; 
}

.message .icon {
	position: absolute;
	left: 5px;
	top: 5px;
}
.message.info .icon {
    color: #AAB8C6;
}

.message.danger .icon {
    color: #A92412;
}

.help-item {
	margin-bottom: 15px;
}