<div class="panel panel-default">
    <div class="panel-heading">
        <a href="#" class="collapse-section">
            <span class="glyphicon glyphicon-chevron-down"></span> Groups
        </a>
        {% if 'imscam.change_settings' in perms %}
            <button type="button" id="group-new" class="btn btn-default btn-xs tooltip-elem" data-url="{% url 'imscam:group_new' %}" data-toggle="tooltip" data-placement="right" title="Create a new group"><span class="glyphicon glyphicon-plus"></span></button>
        {% endif %}
        <div class="control-section pull-right">
            {% with default_capturetime as capture_time %}
                {% include 'imscam/include/settings/play_pause_form.html' %}
            {% endwith %}
        </div>
        <div class="clearfix"></div>
    </div>    
    <div class="panel-body">
        <div id="groups">
            <div class="list-group">
			    {% for group in groups %}
                    {% include 'imscam/include/groups/group_item.html' %}
                {% endfor %}
            </div>
        </div>
    </div>
</div>