<div id ="location-container" class="panel panel-default">
   <div class="panel-heading">
   <a href="#" class="collapse-section">
       <span class="glyphicon glyphicon-chevron-down"></span> Locations
   </a>
    <span id="active-group" hidden="hidden"> <small>Active group: <span id="active-group-name"></span></small></span>
   <div class="clearfix"></div>
   </div>

    <div class="panel-body">
    	<ul class="location-wrapper reset" id="group-locations">
     	{% for location in location_list %}
             {% include 'imscam/include/locations/location.html' %}
         {% endfor %}
         {% if not location_list %}
             <p>No locations saved</p>
         {% endif %}
        </ul>
    </div>
</div>
