<li class='group-location' {% if location.id %}data-url="{% url 'imscam:location_edit' location.group.id location.id %}"{% else %}data-url="{% url 'imscam:location_new' group_id %}"{% endif %}>
    <div class='location-heading'>
        {% if location.id%}
            <span class="location-name" >{{ location.name|truncatechars:15 }}</span>
            <input type='hidden' value='{{ location.name }}' name='name_full'></input>
        {% else %}
            <span class="location-name"><span class="label label-info">Not saved</span></span>
        {% endif %}
        {% if 'imscam.change_settings' in perms %}
            <div class="close-wrapper"><button type="button" class="close" aria-hidden="true" {% if location.id %}data-url="{% url 'imscam:location_delete' location.id %}"{% else %}data-url="{% url 'imscam:tmp_location_delete' group_id %}"{% endif %}>&times;</button></div>
        {% endif %}
    </div>
    <div class='location-body'>
        <input type='hidden' value='{{location.id}}' name='id'></input>
        {% if not location.id %}
            <input type='hidden' value='{{ location.random }}' name='random'></input>
            <input type='hidden' value='{{ location.tmp_pan }}' name='pan'></input>
            <input type='hidden' value='{{ location.tmp_tilt }}' name='tilt'></input>
        {% else %}
            <input type='hidden' value='{{ location.pan }}' name='pan'></input>
            <input type='hidden' value='{{ location.tilt }}' name='tilt'></input>
        {% endif %}
        <div class='img-container'>
        	{% if location.id %}
        		<img src='{{ location.image.url }}'/>
        	{% else %}
        		<img src='{{ location.get_tmp_image }}'/>
        	{% endif %}
        </div>
    </div>
    <div class='location-footer'>
        {% if location.id %}
            {% with location as instance %}
                {% include 'imscam/include/settings/play_pause_form.html' %}
            {% endwith %}
        {% endif %}
        
        
        {% if 'imscam.view_liveimage' in perms %}
            {% if PTZ_DRIVER %}
                <button type='button' class='pull-right btn btn-default btn-xs move tooltip-elem' data-url="{% url 'imscam:ptz_moveto' %}" data-toggle="tooltip" data-placement="top" title="Start live preview and move pan tilt head to location"><span class='glyphicon glyphicon-play'></span></button>
            {% else %}
                <button type='button' class='pull-right btn btn-default btn-xs start-preview tooltip-elem' data-url="{% url 'imscam:start_preview' %}" data-toggle="tooltip" data-placement="top" title="Start live preview"><span class='glyphicon glyphicon-play'></span></button>
            {% endif %}
            <button type="button" class="pull-right btn btn-default btn-xs stop-preview" data-url="{% url 'imscam:stop_preview' %}" style="display: none;"><span class="glyphicon glyphicon-stop"></span></button>
	    {% endif %}
        
        
	    <div class="clearfix"></div>
    </div>
</li>
