{% extends 'imscam/base.html' %}
{% load staticfiles %}

{% block content %}    
    <div id="main-content" class="col-lg-offset-2 col-md-offset-2 col-lg-8 col-md-8">
        <div class="panel panel-default">
		    <div class="panel-heading">
		        default settings for new groups
		    </div>
		    <div class="panel-body">
                <form id="default_settings_form" action="{% url 'imscam:cam_settings' %}" class="form-horizontal" method="POST" role="form">{% csrf_token %}
	                
                    <div id="form-errors" class="alert alert-danger" hidden="hidden">
                    
                    </div>
	                
	                <div class="panel panel-default settings-panel">
                        <div class="panel-heading">
                            <ul class="nav nav-tabs">   
                                <li class="active"><a href="#scheduler-settings">Scheduler settings</a></li>
                            </ul>
                        </div>
                        <div class="panel-body">
                            <div id='content' class="tab-content">
                                <div class="tab-pane active" id="scheduler-settings">
                                    {% include 'imscam/include/settings/scheduling_settings.html' %}
                                </div>
                            </div>        
                        </div>
                        <div id="gphoto_settings">
                        </div>     
                    </div>
	                
	                 
		            
		            <input type="submit" value="Save changes" class="btn btn-primary"/>
		        </form>
		    </div>
		</div>
    </div>
    
    
    <script type="text/javascript">
	    $(function() {
	    	$('#default_settings_form').submit(function(e) {
	    	    e.preventDefault();
	    	    var form = $(this);
	    	    $.ajax({
		            type: form.attr('method'),
		            url: form.attr('action'),
		            data: form.serialize(),
	    	    }).done(function(response) {
	    	    	if (response.status == 'success') {
	    	    		displayAlert('success', response.msg);
	    	    		$("#form-errors").empty();
	    	    		$("#form-errors").hide();
	    	    
	    	    		
	    	    	} else {
	    	    		$('#form-errors').show();
	                    var fieldNames = new Object();
	                    
	                    $("#form-errors").empty();
	                    
	                    $.each(response.errors, function(key, val) {
	                        $("#form-errors").append("<div><strong>"+key+":</strong> " + val + "</div>");
	                    });
	    	    	}
	    	    }).fail(function(response) {
	    	    	console.log(response);
	    	    });
	    	    return false;
	        });
	    });
    </script>
{% endblock %}