
<div id="group-location-form-panel" class="panel panel-default">
    <div class="panel-heading">
        <a href="#" class="collapse-section">
            <span class="glyphicon glyphicon-chevron-down"></span>
        
        {% if group %}
            {% if group.id %}
                <strong>group</strong> settings for <strong>{% firstof group.name "NEW" %}</strong>
            {% else %}
                New group
            {% endif %}
        {% elif location %}
            {% if location.id %}
                <strong>location</strong> settings for <strong>{% firstof location.name "NEW" %}</strong>
            {% else %}
                New location
            {% endif %}
        {% endif %}
        </a>
    </div>
    <div class="panel-body">
	    <form id="group-location-form" class="form-horizontal" role="form">
	        {% csrf_token %}
	        
	        <div id="form-errors" class="alert alert-danger" hidden="hidden">
	        </div>
            
	        {% for field in form.visible_fields %}
			    <div class="form-group" {% if location %}style="margin-bottom: 4px;"{% endif %}>
			        <div class="control-label col-md-3 col-sm-4">
			            {{ field.label_tag }}
			        </div>
			        <div class="col-sm-9 col-sm-8">
			            {{ field }}
			        </div>
			    </div>
			{% endfor %}
			{% if location and location.pan %}
			    <div class="form-group" style="margin-left: 15px;">
                    <small><strong>pan:</strong> <span id="location_pan">{{ location.pan }}</span>, <strong>tilt:</strong> <span id="location_tilt">{{ location.tilt }}</span></small>
                </div>
			{% endif %}
			
			
			<div class="panel panel-default settings-panel">
                <div class="panel-heading">
                    <ul class="nav nav-tabs">   
                        <li class="active"><a href="#scheduler-settings">Scheduler settings</a></li>
                        {% if location %}
                            <li><a href="#image-settings">Image settings</a></li>
                        {% endif %}
                    </ul>
                </div>
                <div class="panel-body">
                    <div id='content' class="tab-content">
		                <div class="tab-pane active" id="scheduler-settings">
		                    {% include 'imscam/include/settings/scheduling_settings.html' %}
		                </div>
		                {% if location %}
		                    <div class="tab-pane" id="image-settings">
		                        {% include 'imscam/include/settings/image_settings.html' %}
		                    </div>
		                {% endif %}
		            </div>        
                </div>
            </div>

		        
			
            
	        <input type="hidden" value="{{ form.instance.id }}" name="id"></input>
	        <input type="hidden" value="{{ form.instance.pan }}" name="pan"></input>
	        <input type="hidden" value="{{ form.instance.tilt }}" name="tilt"></input>
	    </form>
    </div>
    <div class="panel-footer">
        {% if group %}
            {% if group.id %}
                    <button type="submit" id="group-form-submit" data-url="{% url 'imscam:group_edit' group.id %}" {% if not 'imscam.change_settings' in perms %}disabled='disabled'{% endif %} class="btn btn-primary btn-sm">Save changes</button>
                {% else %}
                    <button type="submit" id="group-form-submit" data-url="{% url 'imscam:group_new' %}" {% if not 'imscam.change_settings' in perms %}disabled='disabled'{% endif %} class="btn btn-primary btn-sm">Create group</button>
            {% endif %}
        {% elif location %}
            {% if location.id %}
	            <button id="location-form-submit" type="submit" data-url="{% url 'imscam:location_edit' location.group.id location.id %}" {% if not 'imscam.change_settings' in perms %}disabled='disabeld'{% endif %} class="btn btn-primary btn-sm">Save changes</button>
	        {% else %}
	            <button id="location-form-submit" type="submit" data-url="{% url 'imscam:location_new' group_id %}" {% if not 'imscam.change_settings' in perms %}disabled='disabeld'{% endif %} class="btn btn-primary btn-sm">Create location</button>
	        {% endif %}
        {% endif %}
        
        <button id="form-close" type="button" class="btn btn-default btn-sm">close</button>
    </div>
</div>

