<form class="play-pause-form form-horizontal" action="{% url 'imscam:play_pause' %}" method="POST" role="form" style="display:inline-block;">
    <input type="hidden" name="id" value="{% firstof instance.capture_time.id capture_time.id %}" />
    
    {% if not instance %}
        <div class="default"></div>
    {% elif instance.group %}
        <div class="location"></div>
    {% else %}
        <div class="group"></div>
    {% endif %}
    <span class="tooltip-elem" data-toggle="tooltip" data-placement="top"
        {% if not instance %}
            title="Schedule to take automatically images of scheduled groups"
        {% elif instance.group %}
            title="Schedule to take automatically images"
        {% else %}
            title="Schedule to take automatically images of scheduled locations"
        {% endif %} 
        
    >
	    {% if not instance %}
	        <button type="button" 
	                id="{{ capture_time.id }}_enabled"
	                class="scheduler-enabler btn btn-default btn-xs {% if capture_time.enabled %} active {% endif %}" 
	                data-toggle="button"
	                name="{{ capture_time.id }}_enabled" 
	                {% if not 'imscam.change_settings' in perms %} disabled="disabled" {% endif %}>
	            {% if capture_time.default %}
	                <small>All groups scheduled</small>
	            {% else %}
	                <small>Scheduled</small>
	            {% endif %}
	        </button>
	    {% else %}
	        <button type="button" 
	                id="{{ instance.capture_time.id }}_enabled"
	                class="scheduler-enabler btn btn-default btn-xs {% if instance.capture_time.enabled %} active {% endif %}" 
	                data-toggle="button"
	                name="{{ instance.capture_time.id }}_enabled" 
	                {% if not 'imscam.change_settings' in perms %} disabled="disabled" {% endif %}>
	            {% if instance.capture_time.default %}
	                <small>All groups scheduled</small>
	            {% else %}
	                <small>Scheduled</small>
	            {% endif %}
	        </button>
	    {% endif %}
    </span>             
</form>