<div class="col-lg-12 preview-settings">
    <small>
        {% for name, setting in preview_settings.items %}
            <div class="preview-setting" style="display:inline-block;">
                <!-- <input type="hidden" name="config" value="{{ setting.config }}"></input>  -->
                <span>{{ name }}:</span><br />
                {% if setting.type == 'choice' %}
                    <select data-name="{{ name }}" data-url="{% url 'imscam:set_config' %}">
                        {% for choice in setting.choices %}
                            <!-- <option {% if forloop.counter0 == setting.cur_index %}selected{% endif %}>  -->
                            <option value="{{ choice.0 }}" {% if setting.current == choice.0 %}selected{% endif %}>{{ choice.1 }}</option>
                        {% endfor %}
                    </select>
                {% endif %}
            </div>
        {% endfor %}
    </small>
</div>