<div class="form-group">
    <div class="col-sm-6 ">
        {{ capturetime_form.enabled.label_tag }}
    </div>
    <div class="col-sm-6">
        {{ capturetime_form.enabled }}
    </div>
</div>
{% if not default_setting %}
	<div class="form-group">
	    <div class="col-md-6">
	        {{ capturetime_form.start_date.label_tag }}
	    </div>
	    <div class="col-md-6">
	        {{ capturetime_form.start_date }}
	    </div>
	</div>
	<div class="form-group">
	    <div class="col-md-6 ">
	        {{ capturetime_form.end_date.label_tag }}
	    </div>
	    <div class="col-md-6">
	        {{ capturetime_form.end_date }}
	    </div>
	</div>
{% endif %}
<div class="form-group">
    <div class="col-md-6 ">
        {{ capturetime_form.start_time.label_tag }}
    </div>
    <div class="col-md-6">
        {{ capturetime_form.start_time }}
    </div>
</div>
<div class="form-group">
    <div class="col-md-6 ">
        {{ capturetime_form.end_time.label_tag }}
    </div>
    <div class="col-md-6">
        {{ capturetime_form.end_time }}
    </div>
</div>
<div class="form-group">
    <div class="col-md-6 ">
        {{ capturetime_form.interval.label_tag }}
    </div>
    <div class="col-md-6">
        {{ capturetime_form.interval }}
    </div>
</div>
<div id="from-to-days" class="form-group">    			
	<div class="btn-group" data-toggle="buttons">
	    <label class="btn btn-default {% if capturetime_form.instance.monday %}active{% endif %} {% if not 'imscam.change_settings' in perms %}disabled{% endif %}">
	        {{ capturetime_form.monday }} Mo
	    </label>
	    <label class="btn btn-default {% if capturetime_form.instance.tuesday %}active{% endif %} {% if not 'imscam.change_settings' in perms %}disabled{% endif %}">
	        {{ capturetime_form.tuesday }} Tu
	    </label>
	    <label class="btn btn-default {% if capturetime_form.instance.wednesday %}active{% endif %} {% if not 'imscam.change_settings' in perms %}disabled{% endif %}">
	        {{ capturetime_form.wednesday }} We
	    </label>
	    <label class="btn btn-default {% if capturetime_form.instance.thursday %}active{% endif %} {% if not 'imscam.change_settings' in perms %}disabled{% endif %}">
	        {{ capturetime_form.thursday }} Th
	    </label>
	    <label class="btn btn-default {% if capturetime_form.instance.friday %}active{% endif %} {% if not 'imscam.change_settings' in perms %}disabled{% endif %}">
	        {{ capturetime_form.friday }} Fr
	    </label>
	    <label class="btn btn-default {% if capturetime_form.instance.saturday %}active{% endif %} {% if not 'imscam.change_settings' in perms %}disabled{% endif %}">
	        {{ capturetime_form.saturday }} Sa
	    </label>
	    <label class="btn btn-default {% if capturetime_form.instance.sunday %}active{% endif %} {% if not 'imscam.change_settings' in perms %}disabled{% endif %}">
	        {{ capturetime_form.sunday }} Su
	    </label>
	</div>
</div>	    			
{% if group and group.id or default_setting %}
    <div class="form-group">
	    <div class="col-md-6">
	        <label for="overwrite">Overwrite {% if group %}location{% else %}group{% endif %} settings </label>
	    </div>
	    <div class="col-md-6">
	        <input id="overwrite" name="overwrite_group_locations" type="checkbox" {% if not 'imscam.change_settings' in perms %}disabled{% endif %}/>
	    </div>   				        
	    <div class="col-xs-12"><small>Existing {% if group %}location{% else %}group{% endif %} settings won't change unless checked</small></div>
	</div>
{% endif %}
<div class="clearfix"></div>